SOLANA_RPC_URL=https://api.mainnet-beta.solana.com
SOLANA_WS_URL=wss://api.mainnet-beta.solana.com
PROGRAM_ID=REEMPLAZAR_PROGRAM_ID_MAINNET
DB_PATH=./data/indexer.db
START_SLOT=0
POLL_INTERVAL_MS=3000
